

.block_alignment_centre {
    text-align: center;
}
.block_alignment_left {
    text-align: left;
}
.block_alignment_right {
  text-align: right;
}
.block_alignment_justify {
  text-align: justify;
}

.style_italics {
    font-style: italic;
}

.style_bold {
    font-weight: 600;
}

.App {
    text-align: center;
  }
  
  .block-window {
    width: 800px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    padding: 20px 15px;
    margin: 0 300px;
  }

  .block-window.block_marginalia_left { 
    position: absolute;
    left: 63px;
    height: 30px;
    width: 200px;
  }

  .block-window.block_marginalia_right { 
    position: absolute;
    right: 552px;
    height: 30px;
    width: 200px;
  }

  .standoff_editor_block {
    width: 100%;
  }
  