

.block_alignment_centre {
    text-align: center;
}

.style_italics {
    font-style: italic;
}

.style_bold {
    font-weight: 600;
}

.App {
    text-align: center;
  }
  
  .block-window {
    width: 800px;
    height: 600px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px 15px;
    margin: 0 300px;
    text-align: center;
  }
  .standoff_editor_block {
    width: 100%;
  }
  